<div class="details">
  
  
      <p>
        <b translate>Title :</b> {{object.title}}
      </p>
    
      <p>
        <b translate>Layout :</b> {{object.layout}}
      </p>
    
      <p>
        <b translate>Description :</b> {{object.description}}
      </p>
    
      <p>
        <b translate>Tags :</b> {{object.tags}}
      </p>
    
      <p>
        <b translate>Permalink :</b> {{object.permalink}}
      </p>
    
      <p>
        <b translate>Publish :</b> {{object.publish}}
      </p>
    
      <p>
        <b translate>Raw_content :</b> {{object.raw_content}}
      </p>
    

    
  <ul class="button-group float-right">
    <a ng-href="#/pages/{{ object.id }}/edit" class="small">
      <span class="fa fa-edit"></span> <span translated>Edit</span>
    </a>
  </ul>
</div>
